* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
button{
  float: right;
}
.dos{
  float: left;
  width: 50%;
}
header,
footer,
section{
  border: 1px solid black;
  height: 200px;
  float: left;
  width: 100%;
}
header,
footer{
  clear:both;
  height: 100px;
}
header + section{
  float: left;
  width: 80%;
}
.tres{
  float:left;
  width: 33.3333%;
}
